--find-links=https://girder.github.io/large_image_wheels GDAL
geopandas
streamlit
streamlit-folium
geopy
pandas
plotly
matplotlib
shapely
xarray
pydeck
numpy
folium
pygeos
rtree
rasterio
s3fs
leafmap
# git+https://github.com/giswqs/leafmap
# git+https://github.com/giswqs/geemap
osmnx
ee
