--find-links=https://girder.github.io/large_image_wheels GDAL
geopandas
streamlit
streamlit-folium
geopy
pandas
plotly
matplotlib
shapely
xarray
pydeck
numpy
folium
pygeos
rtree
rasterio
s3fs
leafmap
# git+https://github.com/giswqs/leafmap
# git+https://github.com/giswqs/geemap
osmnx
geemap
rioxarray
pystac_client
rasterio
pystac
fiona
branca
pydantic-settings==2.2.1  # or the latest version
planetary-computer==1.0.0  